%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% %% ex: ts=4 sw=4 ft=erlang et

%% Erlang compiler options
{erl_opts, [bin_opt_info,
            warn_missing_spec,
            warn_export_all]}.

%% Eunit compiler options
{eunit_compile_opts, [nowarn_export_all,
                      nowarn_missing_spec]}.

{deps, [
        {protobuffs, ".*", {git, "https://github.com/basho/erlang_protobuffs", "master"}}
    ]
}.

%% Option to pass extra parameters when launching Common Test
{ct_extra_params, "-cover cover.spec"}.
