%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% %% ex: ts=4 sw=4 ft=erlang et

{deps, [
        {protobuffs, "0.8.*",
            {git, "git://github.com/basho/erlang_protobuffs.git", {branch, "master"}}}
    ]
}.

%% Whether to enable coverage reporting. Default is `false'
{cover_enabled, true}.

%% %% Whether to print coverage report to console. Default is `false'
{cover_print_enabled, true}.
